{%extends 'calc/base.html'%}
{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock css%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Newton's Law of Cooling Calculator | Free Calculator to find ewton's Law of Cooling</title>
<meta name="description"
    content="Capacitance Calculator makes it easy for you to determine the value of capacitance, area, and distance with steps." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Angular Resolution Calculator | Free Calculator to find Angular Resolution" />
<meta property="og:description" content="Angular Resolution Calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Angular Resolution Calculator | Free Calculator to find Angular Resolution" />
<meta name="twitter:description"
    content="Angular Resolution Calculator makes it easy for you to determine the theoretical yield value of the chemical reaction in fraction of seconds with steps." />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<meta property='og:title' content="Angular Resolution Calculator | Free Calculator to find Angular Resolution" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg" />
<meta property='og:description' content="Angular Resolution Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock meta %}

{% block content %}
{% if t and k and at and it or t and k and at and tp or t and k and tp and it or t and tp and at and it or tp and k and at and it %}
<script>
    $(document).ready(function () {

        $("#hassle").click();


    });


</script>

<button type="button" hidden id="hassle" onclick="location.href='#output'">ans1</button>
{% endif %}


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Newton's Law of Cooling Calculator</h1>
        </div>
        <div class="card-body">
            {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <p {% if message.tags %} id="message_container" class="alert alert-danger text-center" {% endif %}
                    style="color:red">{{ message }}</p>
                {% endfor %}
            </ul>
            {% endif %}
            <form action="{% url 'cooling' %}" method="POST" id="my_form">
                {% csrf_token %}
                 <div class="input-group mb-3">
                      
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Choose Option</span>
        </div>
    
  
       <select id="Given" name="Given"  style="margin-top: 5px;width:100%" class="select form-control" id="inlineFormInputGroup" onchange="this.form.submit()">
          
          
            {% if Given == 'form1' %}
            <option value='form1' selected="selected">Find Temperature | Using Ambient temperature, initial temperature, Cooling constant, and What's the temperature after time.</option>  
            {% else %}
            <option value='form1' >Find Temperature | Using Ambient Temperature, initial temperature, Cooling constant, and What's the temperature after time.</option>  
            {% endif %}

            {% if Given == 'form2' %}
            <option value='form2' selected="selected">Find Ambient Temperature | Using Temperature, initial temperature, Cooling constant, and What's the temperature after time.</option>  
            {% else %}
            <option value='form2' >Find Ambient Temperature | Using Temperature, initial temperature, Cooling constant, and What's the temperature after time.</option>  
            {% endif %}

            {% if Given == 'form3' %}
            <option value='form3' selected="selected">Find Initial Temperature | Using Temperature,  ambient temperature, Cooling constant, and What's the temperature after time.</option>  
            {% else %}
            <option value='form3' >Find Initial Temperature | Using Temperature,  ambient temperature, Cooling constant, and What's the temperature after time.</option>  
            {% endif %}   

            {% if Given == 'form4' %}
            <option value='form4' selected="selected">Find Cooling constant | Using Temperature,  ambient temperature, Initial Temperature, and What's the temperature after time.</option>  
            {% else %}
            <option value='form4' >Find Cooling constant | Using Temperature,  ambient temperature, Initial Temperature, and What's the temperature after time.</option>  
            {% endif %}   

            {% if Given == 'form5' %}
            <option value='form5' selected="selected">Find What's the temperature after time | Using Temperature,  ambient temperature, Cooling constant, and Initial Temperature.</option>  
            {% else %}
            <option value='form5' >Find What's the temperature after time | Using Temperature,  ambient temperature, Cooling constant, and Initial Temperature.</option>  
            {% endif %}            
          </select>                     
      </div>
       

          {% if Given != "form3" %}
           <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Initial Temperature (it)</span>
            </div>
            <input style="margin-top: 5px;width:100%" id="it" name="it" value="{{it}}"  required="" oninput="validateNumber(this);" class="form-control" type="text" required width="48"  >
           <select class="select form-control" id="inlineFormInputGroup" name="it_op">
                            {% if it_op == 'c' %}
                            <option value="c" selected="selected">Celsius (°C)</option>
                            {% else %}
                            <option value="c">Celsius (°C)</option>
                            {% endif %}

                            {% if it_op == 'f' %}
                            <option value="f" selected="selected">Fahrenheit (°F)</option>
                            {% else %}
                            <option value="f">Fahrenheit (°F)</option>
                            {% endif %}

                            {% if it_op == 'k' %}
                            <option value="k" selected="selected">Kelvin (K)</option>
                            {% else %}
                            <option value="k">Kelvin (K)</option>
                            {% endif %}
                        </select> 
              
            </select>
          </div> 

          {% endif %}         
        
          {% if Given != "form2" %}
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Ambient Temperature (at)</span>
            </div>
            
           <input style="margin-top: 5px;width:100%" id="at" name="at" value="{{at}}"   required="" oninput="validateNumber(this);" class="form-control" type="text" required width="48"  >
                        <select class="select form-control" id="inlineFormInputGroup" name="at_op">
                            {% if at_op == 'c' %}
                            <option value="c" selected="selected">Celsius (°C)</option>
                            {% else %}
                            <option value="c">Celsius (°C)</option>
                            {% endif %}

                            {% if at_op == 'f' %}
                            <option value="f" selected="selected">Fahrenheit (°F)</option>
                            {% else %}
                            <option value="f">Fahrenheit (°F)</option>
                            {% endif %}

                            {% if at_op == 'k' %}
                            <option value="k" selected="selected">Kelvin (K)</option>
                            {% else %}
                            <option value="k">Kelvin (K)</option>
                            {% endif %}
                        </select> 
          </div>
          {% endif %}        
        
          {% if Given != "form4"  %}
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Cooling constant (k)</span>
              </div>
              <input style="margin-top: 5px;width:100%" id="k" name="k" value="{{k}}"  required="" oninput="validateNumber(this);" class="form-control" type="text" required width="48"  >
           <select class="select form-control" id="inlineFormInputGroup" name="k_op">
                            {% if k_op == 'sec' %}
                            <option value="sec" selected="selected">per second (sec⁻¹)</option>
                            {% else %}
                            <option value="sec">per second(sec⁻¹)</option>
                            {% endif %}
                            {% if k_op == 'min' %}
                            <option value="min" selected="selected">per minute (min⁻¹)</option>
                            {% else %}
                            <option value="min">per minute(min⁻¹)</option>
                            {% endif %}
                            {% if k_op == 'hrs' %}
                            <option value="hrs" selected="selected">per hour (hrs⁻¹)</option>
                            {% else %}
                            <option value="hrs">per hour(hrs⁻¹)</option>
                            {% endif %}
                            
                       </select> 
                        </div>
            {% endif %} 
             {% if Given != "form5"  %}
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">What's the temperature after time (tp)</span>
              </div>
              <input style="margin-top: 5px;width:100%" id="tp" name="tp" value="{{tp}}"  required="" oninput="validateNumber(this);" class="form-control" type="text" required width="48"  >
           <select class="select form-control" id="inlineFormInputGroup" name="tp_op">
                            {% if tp_op == 'sec' %}
                            <option value="sec" selected="selected">Seconds (sec)</option>
                            {% else %}
                            <option value="sec">Seconds (sec)</option>
                            {% endif %}
                            {% if tp_op == 'min' %}
                            <option value="min" selected="selected">Minutes (min)</option>
                            {% else %}
                            <option value="min">Minutes (min)</option>
                            {% endif %}
                            {% if tp_op == 'hrs' %}
                            <option value="hrs" selected="selected">Hours (hrs)</option>
                            {% else %}
                            <option value="hrs">Hours (hrs)</option>
                            {% endif %}
                            
                       </select> 
                        </div>
            {% endif %}      

        {% if Given != "form1" %}
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Temperature (t)</span>
            </div>
            
           <input style="margin-top: 5px;width:100%" id="t" name="t" value="{{t}}"   required="" oninput="validateNumber(this);" class="form-control" type="text" required width="48"  >
                        <select class="select form-control" id="inlineFormInputGroup" name="t_op">
                            {% if t_op == 'c' %}
                            <option value="c" selected="selected">Celsius (°C)</option>
                            {% else %}
                            <option value="c">Celsius (°C)</option>
                            {% endif %}

                            {% if t_op == 'f' %}
                            <option value="f" selected="selected">Fahrenheit (°F)</option>
                            {% else %}
                            <option value="f">Fahrenheit (°F)</option>
                            {% endif %}

                            {% if t_op == 'k' %}
                            <option value="k" selected="selected">Kelvin (K)</option>
                            {% else %}
                            <option value="k">Kelvin (K)</option>
                            {% endif %}
                        </select> 
          </div>
          {% endif %}   
        
          <div class=" center col mt-2 ">
            <center><button type="submit" class="btn btn-primary">Calculate</button>
                            <a href="{% url 'cooling' %}" class="btn btn-warning" role="button" style="margin-top:5px;">Reset</a>
                            </center>
          </div>
</form>

  </div>
    </div>
</div>
</div>


<div id="clear">
<div class="container" style="height: auto !important;">
    {% if Given == "form1" and tp and k and at and it %}
    <div class="card c1" id="output">
        <div class="card-header">
            <h2 class="h2">Steps to Find Temperature:</h2>
        </div>

        <div class="card-body">

            <strong>Temperature:-</strong>
            <br>
            <p class="btn btn-outline-secondary active">Temperature Formula T = at + (it - at) * exp(- k * tp)</p>
            <br>
            <strong>where:</strong>
                    <ul>
                        <li>T is the temperature of the object at the time t,</li>
                        <li>at is the ambient temperature,</li>
                        <li>it is the initial temperature of the object,</li>
                        <li>k is the cooling coefficient</li>
                        <li>tp is the time of the cooling.</li>
                    </ul>


            <strong>Input values are:-</strong>
            <p>at = {{at}} {{at_op}}</p>
            <p>tp = {{tp}} {{tp_op}}</p>
            <p>it = {{it}} {{it_op}}</p>
            <p>k = {{k}} {{k_op}}⁻¹</p>

            {% if at_op == 'k' %}
            <details class="border border-primary">
            <summary><b>Convert the Ambient Temperature {{at}} "{{at_op}}" to "Celsius"</b></summary>
            <p>1 kelvin = -272.15 °Celsius </p>
            <p>Ambient Temperature(at) = Ambient Temperature(at) - 272.15 °C</p>
            <p>Ambient Temperature(at) = {{at}} - 273.15 °C</p>
            <p>Ambient Temperature(at) = {{atc}} °C</p>
            </details>
            

            {% elif at_op == 'f' %}
            <details class="border border-primary">
            <summary><b>Convert the Ambient Temperature {{at}} "{{at_op}}" to "Celsius"</b></summary>
            <p>1 Fahrenheit = -17.2222 °Celsius </p>
            <p>Ambient Temperature(at) = (Ambient Temperature(at) -32) * 5/9 °C</p>
            <p>Ambient Temperature(at) = ({{at}} -32) * 5/9 °C</p>
            <p>Ambient Temperature(at) = {{atc}} °C</p>
            </details>
            {% endif %}  
            <br>       

            {% if tp_op == 'min' %}
            <details class="border border-primary">
            <summary><b>Convert the Object at time (tp) {{tp}} "{{tp_op}}" to "Sec"</b></summary>
            <p>1 Minute = 60 Second</p>
            <p> Object at time (tp)  = Object at time (tp) * 60 Sec</p>
            <p> Object at time (tp)  = {{tp}} * 60 Sec</p>
            <p>Object at time (tp) = {{tps}} Sec</p>
            </details>
            

            {% elif tp_op == 'hrs' %}
            <details class="border border-primary">
            <summary><b>Convert the Object at time (tp) {{tp}} "{{tp_op}}" to "Sec"</b></summary>
            <p>1 Hour = 3600 Second</p>
            <p> Object at time (tp)  = Object at time (tp) * 3600 Sec</p>
            <p> Object at time (tp)  = {{tp}} * 3600 Sec</p>
            <p>Object at time (tp) = {{tps}} Sec</p>
            </details>
            {% endif %}      
                <br>
            {% if it_op == 'k' %}
            <details class="border border-primary">
            <summary><b>Convert the Initial Temperature {{it}} "{{it_op}}" to "Celsius"</b></summary>
            <p>1 Kelvin = -17.2222 °Celsius </p>
            <p>Initial Temperature(it) = Initial Temperature(it) - 272.15 °C</p>
            <p>Initial Temperature(it) = {{it}} - 272.15 °C</p>
            <p>Initial Temperature(it) = {{itc}} °C</p>
            </details>

            {% elif it_op == 'f' %}
            <details class="border border-primary">
            <summary><b>Convert the Initial Temperature {{it}} "{{it_op}}" to "Celsius"</b></summary>
            <p>1 Fahrenheit = -17.2222 °Celsius </p>
            <p>Initial Temperature(it) = (Initial Temperature(it) -32) * 5/9 °C</p>
            <p>Initial Temperature(it) = ({{it}} -32) * 5/9 °C</p>
            <p>Initial Temperature(it) = {{itc}} °C</p>
            </details>
            {% endif %}           

            <br>
            {% if k_op == 'min' %}
            <details class="border border-primary">
            <summary><b>Convert the Cooling constant(k) {{k}}  "{{k_op}}⁻¹" to "Sec⁻¹"</b></summary>
            <p>1 Min⁻¹ = 0.0167 Sec⁻¹</p>
            <p>Cooling constant(k) = Cooling constant(k) * 0.016667 Sec⁻¹</p>
            <p>Cooling constant(k) = {{k}} * 0.016667 Sec⁻¹</p>
            <p>Cooling constant(k) = {{ks}} Sec⁻¹</p>
            </details>
            
            {% elif k_op == 'hrs' %}
            <details class="border border-primary">
            <summary><b>Convert the Cooling constant(k) {{k}}  "{{k_op}}⁻¹" to "Sec⁻¹"</b></summary>
            <p>1 hrs⁻¹ = 0.00027777777777778 Sec⁻¹</p>
            <p>Cooling constant(k) = Cooling constant(k) * 0.0002778 Sec⁻¹</p>
            <p>Cooling constant(k) = {{k}} * 0.0002778 Sec⁻¹</p>
            <p>Cooling constant(k) = {{ks}} Sec⁻¹</p>
            </details>

            {% endif %}
            <p><b>Put values into formula</b></p>
            <p>Temperature T = {{atc}} + ({{itc}} - {{at}}) * exp(- {{ks}} * {{tps}})</p>
            
            <b>Temperature = {{result}} °C </b>
            <details class="border border-primary">
            <summary>All conversion here:</summary>
            <p><table style="width:100%">
             <tr>
                <th>Unit</th>
                <th>Value</th>
                </tr>
            {% for u,v in redict.items %}
                  <tr>
                    <td>{{u}}</td>
                    <td>{{v}}</td>
                  </tr>
            {% endfor %}
            </table></p>
            </details>
   </div>
    </div>
    {% endif %}

    {% if Given == "form2" and tp and k and t and it %}
    <div class="card c1" id="output">
        <div class="card-header">
            <h2 class="h2">Steps to Find Ambient Temperature (at):</h2>
        </div>

        <div class="card-body">

            <strong>Temperature:-</strong>
            <br>
            <p class="btn btn-outline-secondary active">Ambient Temperature Formula at = t - it * exp(- k * tp)</p>
            <br>
            <strong>where:</strong>
                    <ul>
                        <li>T is the temperature of the object at the time tp,</li>
                        <li>at is the ambient temperature,</li>
                        <li>it is the initial temperature of the object,</li>
                        <li>k is the cooling coefficient</li>
                        <li>tp is the time of the cooling.</li>
                    </ul>


            <strong>Input values are:-</strong>
            <p>t = {{t}} {{t_op}}</p>
            <p>tp = {{tp}} {{tp_op}}</p>
            <p>it = {{it}} {{it_op}}</p>
            <p>k = {{k}} {{k_op}}⁻¹</p>

            {% if t_op == 'k' %}
            <details class="border border-primary">
            <summary><b>Convert the Temperature {{t}} "{{t_op}}" to "Celsius"</b></summary>
            <p>1 kelvin = -272.15 °Celsius </p>
            <p>Temperature(t) = Temperature(t) - 272.15 °C</p>
            <p>Temperature(t) = {{t}} - 273.15 °C</p>
            <p>Temperature(t) = {{tc}} °C</p>
            </details>
            

            {% elif t_op == 'f' %}
            <details class="border border-primary">
            <summary><b>Convert the Temperature {{t}} "{{t_op}}" to "Celsius"</b></summary>
            <p>1 Fahrenheit = -17.2222 °Celsius </p>
            <p>Temperature(t) = (Temperature(t) -32) * 5/9 °C</p>
            <p>Temperature(t) = ({{t}} -32) * 5/9 °C</p>
            <p>Temperature(t) = {{tc}} °C</p>
            </details>
            {% endif %}  
            <br>            

            {% if tp_op == 'min' %}
            <details class="border border-primary">
            <summary><b>Convert the Object at time (tp) {{tp}} "{{tp_op}}" to "Sec"</b></summary>
            <p>1 Minute = 60 Second</p>
            <p> Object at time (tp)  = Object at time (tp) * 60 Sec</p>
            <p> Object at time (tp)  = {{tp}} * 60 Sec</p>
            <p>Object at time (tp) = {{tps}} Sec</p>
            </details>
            

            {% elif tp_op == 'hrs' %}
            <details class="border border-primary">
            <summary><b>Convert the Object at time (tp) {{tp}} "{{tp_op}}" to "Sec"</b></summary>
            <p>1 Hour = 3600 Second</p>
            <p> Object at time (tp)  = Object at time (tp) * 3600 Sec</p>
            <p> Object at time (tp)  = {{tp}} * 3600 Sec</p>
            <p>Object at time (tp) = {{tps}} Sec</p>
            </details>
            {% endif %}      
                <br>     

            {% if it_op == 'k' %}
            <details class="border border-primary">
            <summary><b>Convert the Initial Temperature {{it}} "{{it_op}}" to "Celsius"</b></summary>
            <p>1 Kelvin = -17.2222 °Celsius </p>
            <p>Initial Temperature(it) = Initial Temperature(it) - 272.15 °C</p>
            <p>Initial Temperature(it) = {{it}} - 272.15 °C</p>
            <p>Initial Temperature(it) = {{itc}} °C</p>
            </details>

            {% elif it_op == 'f' %}
            <details class="border border-primary">
            <summary><b>Convert the Initial Temperature {{it}} "{{it_op}}" to "Celsius"</b></summary>
            <p>1 Fahrenheit = -17.2222 °Celsius </p>
            <p>Initial Temperature(it) = (Initial Temperature(it) -32) * 5/9 °C</p>
            <p>Initial Temperature(it) = ({{it}} -32) * 5/9 °C</p>
            <p>Initial Temperature(it) = {{itc}} °C</p>
            </details>
            {% endif %}   <br>          


            {% if k_op == 'min' %}
            <details class="border border-primary">
            <summary><b>Convert the Cooling constant(k) {{k}}  "{{k_op}}⁻¹" to "Sec⁻¹"</b></summary>
            <p>1 Min⁻¹ = 0.0167 Sec⁻¹</p>
            <p>Cooling constant(k) = Cooling constant(k) * 0.016667 Sec⁻¹</p>
            <p>Cooling constant(k) = {{k}} * 0.016667 Sec⁻¹</p>
            <p>Cooling constant(k) = {{ks}} Sec⁻¹</p>
            </details>
            
            {% elif k_op == 'hrs' %}
            <details class="border border-primary">
            <summary><b>Convert the Cooling constant(k) {{k}}  "{{k_op}}⁻¹" to "Sec⁻¹"</b></summary>
            <p>1 hrs⁻¹ = 0.00027777777777778 Sec⁻¹</p>
            <p>Cooling constant(k) = Cooling constant(k) * 0.0002778 Sec⁻¹</p>
            <p>Cooling constant(k) = {{k}} * 0.0002778 Sec⁻¹</p>
            <p>Cooling constant(k) = {{ks}} Sec⁻¹</p>
            </details>

            {% endif %}
            <p><b>Put values into formulab</b></p>
            <p>Ambient Temperature at = {{tc}} - {{itc}} * exp(- {{ks}} * {{tps}})</p>
            
            <b>Temperature = {{result}} °C </b>
            <details class="border border-primary">
            <summary>All conversion here:</summary>
            <p><table style="width:100%">
             <tr>
                <th>Unit</th>
                <th>Value</th>
                </tr>
            {% for u,v in redict.items %}
                  <tr>
                    <td>{{u}}</td>
                    <td>{{v}}</td>
                  </tr>
            {% endfor %}
            </table></p>
            </details>
   </div>
    </div>
    {% endif %}

    {% if Given == "form3" and tp and k and t and at %}
    <div class="card c1" id="output">
        <div class="card-header">
            <h2 class="h2">Steps to Find Initial Temperature (at):</h2>
        </div>

        <div class="card-body">

            <strong>Temperature:-</strong>
            <br>
            <p class="btn btn-outline-secondary active">Initial Temperature Formula it = at + (t-at) * <sup>-k*(tp)</sup></p>
            <br>
            <strong>where:</strong>
                    <ul>
                        <li>T is the temperature of the object at the time tp,</li>
                        <li>at is the ambient temperature,</li>
                        <li>it is the initial temperature of the object,</li>
                        <li>k is the cooling coefficient</li>
                        <li>tp is the time of the cooling.</li>
                    </ul>


            <strong>Input values are:-</strong>
            <p>t = {{t}} {{t_op}}</p>
            <p>tp = {{tp}} {{tp_op}}</p>
            <p>at = {{at}} {{at_op}}</p>
            <p>k = {{k}} {{k_op}}⁻¹</p>

            {% if t_op == 'k' %}
            <details class="border border-primary">
            <summary><b>Convert the Temperature {{t}} "{{t_op}}" to "Celsius"</b></summary>
            <p>1 kelvin = -272.15 °Celsius </p>
            <p>Temperature(t) = Temperature(t) - 272.15 °C</p>
            <p>Temperature(t) = {{t}} - 273.15 °C</p>
            <p>Temperature(t) = {{tc}} °C</p>
            </details>
            

            {% elif t_op == 'f' %}
            <details class="border border-primary">
            <summary><b>Convert the Temperature {{t}} "{{t_op}}" to "Celsius"</b></summary>
            <p>1 Fahrenheit = -17.2222 °Celsius </p>
            <p>Temperature(t) = (Temperature(t) -32) * 5/9 °C</p>
            <p>Temperature(t) = ({{t}} -32) * 5/9 °C</p>
            <p>Temperature(t) = {{tc}} °C</p>
            </details>
            {% endif %}  
            <br>                

            {% if tp_op == 'min' %}
            <details class="border border-primary">
            <summary><b>Convert the Object at time (tp) {{tp}} "{{tp_op}}" to "Sec"</b></summary>
            <p>1 Minute = 60 Second</p>
            <p> Object at time (tp)  = Object at time (tp) * 60 Sec</p>
            <p> Object at time (tp)  = {{tp}} * 60 Sec</p>
            <p>Object at time (tp) = {{tps}} Sec</p>
            </details>
            

            {% elif tp_op == 'hrs' %}
            <details class="border border-primary">
            <summary><b>Convert the Object at time (tp) {{tp}} "{{tp_op}}" to "Sec"</b></summary>
            <p>1 Hour = 3600 Second</p>
            <p> Object at time (tp)  = Object at time (tp) * 3600 Sec</p>
            <p> Object at time (tp)  = {{tp}} * 3600 Sec</p>
            <p>Object at time (tp) = {{tps}} Sec</p>
            </details>
            {% endif %}      
                <br>        

             {% if at_op == 'k' %}
            <details class="border border-primary">
            <summary><b>Convert the Ambient Temperature {{at}} "{{at_op}}" to "Celsius"</b></summary>
            <p>1 kelvin = -272.15 °Celsius </p>
            <p>Ambient Temperature(at) = Ambient Temperature(at) - 272.15 °C</p>
            <p>Ambient Temperature(at) = {{at}} - 273.15 °C</p>
            <p>Ambient Temperature(at) = {{atc}} °C</p>
            </details>
            

            {% elif at_op == 'f' %}
            <details class="border border-primary">
            <summary><b>Convert the Ambient Temperature {{at}} "{{at_op}}" to "Celsius"</b></summary>
            <p>1 Fahrenheit = -17.2222 °Celsius </p>
            <p>Ambient Temperature(at) = (Ambient Temperature(at) -32) * 5/9 °C</p>
            <p>Ambient Temperature(at) = ({{at}} -32) * 5/9 °C</p>
            <p>Ambient Temperature(at) = {{atc}} °C</p>
            </details>
            {% endif %}  
            <br>    

            {% if k_op == 'min' %}
            <details class="border border-primary">
            <summary><b>Convert the Cooling constant(k) {{k}}  "{{k_op}}⁻¹" to "Sec⁻¹"</b></summary>
            <p>1 Min⁻¹ = 0.0167 Sec⁻¹</p>
            <p>Cooling constant(k) = Cooling constant(k) * 0.016667 Sec⁻¹</p>
            <p>Cooling constant(k) = {{k}} * 0.016667 Sec⁻¹</p>
            <p>Cooling constant(k) = {{ks}} Sec⁻¹</p>
            </details>
            
            {% elif k_op == 'hrs' %}
            <details class="border border-primary">
            <summary><b>Convert the Cooling constant(k) {{k}}  "{{k_op}}⁻¹" to "Sec⁻¹"</b></summary>
            <p>1 hrs⁻¹ = 0.00027777777777778 Sec⁻¹</p>
            <p>Cooling constant(k) = Cooling constant(k) * 0.0002778 Sec⁻¹</p>
            <p>Cooling constant(k) = {{k}} * 0.0002778 Sec⁻¹</p>
            <p>Cooling constant(k) = {{ks}} Sec⁻¹</p>
            </details>
            {% endif %}

            <p><b>Put values into formula</b></p>
            <p>Initial Temperature (it) = {{atc}} + ({{tc}}-{{atc}}) * <sup>-{{ks}}*{{tps}}</sup></p>
            
            <b>Initial Temperature (it) = {{result}} °C </b>
            <details class="border border-primary">
            <summary>All conversion here:</summary>
            <p><table style="width:100%">
             <tr>
                <th>Unit</th>
                <th>Value</th>
                </tr>
            {% for u,v in redict.items %}
                  <tr>
                    <td>{{u}}</td>
                    <td>{{v}}</td>
                  </tr>
            {% endfor %}
            </table></p>
            </details>
   </div>
    </div>
    {% endif %}
        {% if Given == "form4" and tp and it and t and at %}
    <div class="card c1" id="output">
        <div class="card-header">
            <h2 class="h2">Steps to Find Cooling constant (k):</h2>
        </div>

        <div class="card-body">

            <strong>Cooling constant:-</strong>
            <br>
            <p class="btn btn-outline-secondary active text-justify">Cooling constant Formula ek = (it-at) / (t-at)<br>
            k = In(ek)/tp</p>
            <br>
            <strong>where:</strong>
                    <ul>
                        <li>T is the temperature of the object at the time tp,</li>
                        <li>at is the ambient temperature,</li>
                        <li>it is the initial temperature of the object,</li>
                        <li>k is the cooling coefficient</li>
                        <li>tp is the time of the cooling.</li>
                    </ul>


            <strong>Input values are:-</strong>
            <p>t = {{t}} {{t_op}}</p>
            <p>tp = {{tp}} {{tp_op}}</p>
            <p>at = {{at}} {{at_op}}</p>
            <p>it = {{it}} {{it_op}}⁻¹</p>

             {% if t_op == 'k' %}
            <details class="border border-primary">
            <summary><b>Convert the Temperature {{t}} "{{t_op}}" to "Celsius"</b></summary>
            <p>1 kelvin = -272.15 °Celsius </p>
            <p>Temperature(t) = Temperature(t) - 272.15 °C</p>
            <p>Temperature(t) = {{t}} - 273.15 °C</p>
            <p>Temperature(t) = {{tc}} °C</p>
            </details>
            

            {% elif t_op == 'f' %}
            <details class="border border-primary">
            <summary><b>Convert the Temperature {{t}} "{{t_op}}" to "Celsius"</b></summary>
            <p>1 Fahrenheit = -17.2222 °Celsius </p>
            <p>Temperature(t) = (Temperature(t) -32) * 5/9 °C</p>
            <p>Temperature(t) = ({{t}} -32) * 5/9 °C</p>
            <p>Temperature(t) = {{tc}} °C</p>
            </details>
            {% endif %}  
            <br>                  

            {% if tp_op == 'min' %}
            <details class="border border-primary">
            <summary><b>Convert the Object at time (tp) {{tp}} "{{tp_op}}" to "Sec"</b></summary>
            <p>1 Minute = 60 Second</p>
            <p> Object at time (tp)  = Object at time (tp) * 60 Sec</p>
            <p> Object at time (tp)  = {{tp}} * 60 Sec</p>
            <p>Object at time (tp) = {{tps}} Sec</p>
            </details>
            

            {% elif tp_op == 'hrs' %}
            <details class="border border-primary">
            <summary><b>Convert the Object at time (tp) {{tp}} "{{tp_op}}" to "Sec"</b></summary>
            <p>1 Hour = 3600 Second</p>
            <p> Object at time (tp)  = Object at time (tp) * 3600 Sec</p>
            <p> Object at time (tp)  = {{tp}} * 3600 Sec</p>
            <p>Object at time (tp) = {{tps}} Sec</p>
            </details>
            {% endif %}          

            {% if at_op == 'k' %}
            <details class="border border-primary">
            <summary><b>Convert the Ambient Temperature {{at}} "{{at_op}}" to "Celsius"</b></summary>
            <p>1 kelvin = -272.15 °Celsius </p>
            <p>Ambient Temperature(at) = Ambient Temperature(at) - 272.15 °C</p>
            <p>Ambient Temperature(at) = {{at}} - 273.15 °C</p>
            <p>Ambient Temperature(at) = {{atc}} °C</p>
            </details>
            

            {% elif at_op == 'f' %}
            <details class="border border-primary">
            <summary><b>Convert the Ambient Temperature {{at}} "{{at_op}}" to "Celsius"</b></summary>
            <p>1 Fahrenheit = -17.2222 °Celsius </p>
            <p>Ambient Temperature(at) = (Ambient Temperature(at) -32) * 5/9 °C</p>
            <p>Ambient Temperature(at) = ({{at}} -32) * 5/9 °C</p>
            <p>Ambient Temperature(at) = {{atc}} °C</p>
            </details>
            {% endif %}  
            <br>  

           {% if it_op == 'k' %}
            <details class="border border-primary">
            <summary><b>Convert the Initial Temperature {{it}} "{{it_op}}" to "Celsius"</b></summary>
            <p>1 Kelvin = -17.2222 °Celsius </p>
            <p>Initial Temperature(it) = Initial Temperature(it) - 272.15 °C</p>
            <p>Initial Temperature(it) = {{it}} - 272.15 °C</p>
            <p>Initial Temperature(it) = {{itc}} °C</p>
            </details>

            {% elif it_op == 'f' %}
            <details class="border border-primary">
            <summary><b>Convert the Initial Temperature {{it}} "{{it_op}}" to "Celsius"</b></summary>
            <p>1 Fahrenheit = -17.2222 °Celsius </p>
            <p>Initial Temperature(it) = (Initial Temperature(it) -32) * 5/9 °C</p>
            <p>Initial Temperature(it) = ({{it}} -32) * 5/9 °C</p>
            <p>Initial Temperature(it) = {{itc}} °C</p>
            </details>
            {% endif %}  

            
            <p><b>Put values into formula</b></p>
            <p>Cooling Constant(K)  ek =  ({{itc}}-{{atc}}) / ({{tc}}-{{atc}})<br> k = In({{ek}}) / {{tps}}
            </p>
            
            <b>Cooling Constant(K) = {{result}} Sec⁻¹ </b>
            <details class="border border-primary">
            <summary>All conversion here:</summary>
            <p><table style="width:100%">
             <tr>
                <th>Unit</th>
                <th>Value</th>
                </tr>
            {% for u,v in redict.items %}
                  <tr>
                    <td>{{u}}</td>
                    <td>{{v}}</td>
                  </tr>
            {% endfor %}
            </table></p>
            </details>
   </div>
    </div>
    {% endif %}
    {% if Given == "form5" and it and k and t and at %}
    <div class="card c1" id="output">
        <div class="card-header">
            <h2 class="h2">Steps to Find What's the temperature after (tp):</h2>
        </div>

        <div class="card-body">

            <strong>Temperature:-</strong>
            <br>
            <p class="btn btn-outline-secondary active">What's the temperature after.. ek = (it-at) / (t-at)<br>
            tp = In(ek)/k</p>
            <br>
            <strong>where:</strong>
                    <ul>
                        <li>T is the temperature of the object at the time tp,</li>
                        <li>at is the ambient temperature,</li>
                        <li>it is the initial temperature of the object,</li>
                        <li>k is the cooling coefficient</li>
                        <li>tp is the time of the cooling.</li>
                    </ul>


            <strong>Input values are:-</strong>
            <p>t = {{t}} {{t_op}}</p>
            <p>tp = {{tp}} {{tp_op}}</p>
            <p>it = {{it}} {{it_op}}</p>
            <p>k = {{k}} {{k_op}}⁻¹</p>

            {% if t_op == 'k' %}
            <details class="border border-primary">
            <summary><b>Convert the Temperature {{t}} "{{t_op}}" to "Celsius"</b></summary>
            <p>1 kelvin = -272.15 °Celsius </p>
            <p>Temperature(t) = Temperature(t) - 272.15 °C</p>
            <p>Temperature(t) = {{t}} - 273.15 °C</p>
            <p>Temperature(t) = {{tc}} °C</p>
            </details>
            

            {% elif t_op == 'f' %}
            <details class="border border-primary">
            <summary><b>Convert the Temperature {{t}} "{{t_op}}" to "Celsius"</b></summary>
            <p>1 Fahrenheit = -17.2222 °Celsius </p>
            <p>Temperature(t) = (Temperature(t) -32) * 5/9 °C</p>
            <p>Temperature(t) = ({{t}} -32) * 5/9 °C</p>
            <p>Temperature(t) = {{tc}} °C</p>
            </details>
            {% endif %}  
            <br>                  
        

            {% if it_op == 'k' %}
            <details class="border border-primary">
            <summary><b>Convert the Initial Temperature {{it}} "{{it_op}}" to "Celsius"</b></summary>
            <p>1 Kelvin = -17.2222 °Celsius </p>
            <p>Initial Temperature(it) = Initial Temperature(it) - 272.15 °C</p>
            <p>Initial Temperature(it) = {{it}} - 272.15 °C</p>
            <p>Initial Temperature(it) = {{itc}} °C</p>
            </details>

            {% elif it_op == 'f' %}
            <details class="border border-primary">
            <summary><b>Convert the Initial Temperature {{it}} "{{it_op}}" to "Celsius"</b></summary>
            <p>1 Fahrenheit = -17.2222 °Celsius </p>
            <p>Initial Temperature(it) = (Initial Temperature(it) -32) * 5/9 °C</p>
            <p>Initial Temperature(it) = ({{it}} -32) * 5/9 °C</p>
            <p>Initial Temperature(it) = {{itc}} °C</p>
            </details>
            {% endif %}  
            <br>

            {% if at_op == 'k' %}
            <details class="border border-primary">
            <summary><b>Convert the Ambient Temperature {{at}} "{{at_op}}" to "Celsius"</b></summary>
            <p>1 kelvin = -272.15 °Celsius </p>
            <p>Ambient Temperature(at) = Ambient Temperature(at) - 272.15 °C</p>
            <p>Ambient Temperature(at) = {{at}} - 273.15 °C</p>
            <p>Ambient Temperature(at) = {{atc}} °C</p>
            </details>
            

            {% elif at_op == 'f' %}
            <details class="border border-primary">
            <summary><b>Convert the Ambient Temperature {{at}} "{{at_op}}" to "Celsius"</b></summary>
            <p>1 Fahrenheit = -17.2222 °Celsius </p>
            <p>Ambient Temperature(at) = (Ambient Temperature(at) -32) * 5/9 °C</p>
            <p>Ambient Temperature(at) = ({{at}} -32) * 5/9 °C</p>
            <p>Ambient Temperature(at) = {{atc}} °C</p>
            </details>
            {% endif %}  
            <br>        


           
            {% if k_op == 'min' %}
            <details class="border border-primary">
            <summary><b>Convert the Cooling constant(k) {{k}}  "{{k_op}}⁻¹" to "Sec⁻¹"</b></summary>
            <p>1 Min⁻¹ = 0.0167 Sec⁻¹</p>
            <p>Cooling constant(k) = Cooling constant(k) * 0.016667 Sec⁻¹</p>
            <p>Cooling constant(k) = {{k}} * 0.016667 Sec⁻¹</p>
            <p>Cooling constant(k) = {{ks}} Sec⁻¹</p>
            </details>
            
            {% elif k_op == 'hrs' %}
            <details class="border border-primary">
            <summary><b>Convert the Cooling constant(k) {{k}}  "{{k_op}}⁻¹" to "Sec⁻¹"</b></summary>
            <p>1 hrs⁻¹ = 0.00027777777777778 Sec⁻¹</p>
            <p>Cooling constant(k) = Cooling constant(k) * 0.0002778 Sec⁻¹</p>
            <p>Cooling constant(k) = {{k}} * 0.0002778 Sec⁻¹</p>
            <p>Cooling constant(k) = {{ks}} Sec⁻¹</p>
            </details>
            {% endif %}

            <p><b>Put values into formula</b></p>
            <p>What's the temperature after..(tp) = ({{itc}}-{{atc}}) / ({{tc}}-{{atc}})<br> k = In({{ek}}) / {{kps}}</p>
            
            <b>Temperature after..(tp) = {{result}} Sec </b>
            <details class="border border-primary">
            <summary>All conversion here:</summary>
            <p><table style="width:100%">
             <tr>
                <th>Unit</th>
                <th>Value</th>
                </tr>
            {% for u,v in redict.items %}
                  <tr>
                    <td>{{u}}</td>
                    <td>{{v}}</td>
                  </tr>
            {% endfor %}
            </table></p>
            </details>
   </div>
    </div>
    {% endif %}
    </div>
</div>
{% endblock content %}